
    @import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
    :root{
        --angleStart:-360deg;
        --buttonSize:200px;
        --negbuttonSize:-200px/2;
        --optionSize:170px;
        --negoptionSize:-170px/2;
        --spacing:20px;
        --negspacing:-20px;
        --speed:.8s;
    }

html, body {
    height: 100%;
}
body {
    margin: 0;
    background:  #c3e1f7 ;
    overflow: hidden;
}

.divselector {
    position: absolute;
    left:40%; top:30%;
    width:var(--buttonSize); height:var(--buttonSize);
    margin-top: var(--negbuttonSize);
    margin-left:var(--negbuttonSize);
}

.divselector, .divselector button {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
/*
.divselector button {
    position: relative;
    width:100%; height:100%;
    padding: 10px;
    background-color: White;
    border-radius: 50%;
    border: 0;
    border-color:black;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    transition: all .1s;
}
.divselector button:hover {
    background-color:aliceblue;
}
.divselector button:focus {
    outline:none;
}

*/
.divselector button {
    position: relative;
    width:100%; height:100%;
    padding: 10px;
    background-color: transparent;
    border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
	
	border-width:thin;
	
	border: 1px solid transparent;
	
    box-shadow: 0 5px 3px rgba(0,0,0,.1);

    transition: all .1s;
}

.divselector ul {
    position: absolute;
    list-style: none;
    padding:0; margin:0;
    top:var(--negspacing); right:var(--negspacing); bottom:var(--negspacing); left:var(--negspacing);
}

.divselector li  {
    position: absolute;
    width:0; height: 100%;
    margin: 0 50%;
    -webkit-transform: rotate(var(--angleStart));
    transition: all var(--speed) ease-in-out;
}

.divselector li input {
    display: none;
}

.divselector li input + label {
    position: absolute;
    left:50%; bottom:100%;
    width:0; height:0;
    line-height: 1px;
    margin-left: 0;
    /*background: orange;*/
    border-radius: 50%;
    text-align: center;
    font-size: 1px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
    transition: all var(--speed) ease-in-out, color .1s, background .1s;
}
.divselector li input + label:hover {
    background: #f0f0f0;
}
.divselector li input:checked + label {
    background: #5cb85c;
    color: white;
}
.divselector li input:checked + label:hover {
    background: #449d44;
}
.divselector.open li input + label {
    width:200px; 
	height:var(--optionSize);
    line-height: var(--optionSize);
    margin-left: var(--negoptionSize);
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    font-size: 14px;
    /*background-color:#27ebf5*/
}